2<div id="about">
   <div class="container">
       <h2>About</h2>
       <div class="about-row">
           <div class="about-row-image">
               <img [src]= "miportfolio.avatar" />
           </div>
           <div class="about-row-text">
               <h4>{{miportfolio.name}}</h4>
               <p class="large">{{miportfolio.position}}</p>
               <hr />
               <p>
                   {{miportfolio.description_a}}
               </p>
               <p>
                  {{miportfolio.description_b}}
               </p>
           </div>
       </div>
   </div>
</div>
