
  <div id="experience">
    <div class="container">
        <h2>Works</h2>
        <div class="lista">
         <ul>
            <li *ngFor="let work of worklist">
            <img src="./../../../assets/prosegur.jpg" width="50px" height="50px" id="escu" >
            <p><span>{{work.works_year}}</span></p>
            <div>
            <h4 id="N-work">{{work.company}}</h4>
          </div>
            <div>
            <h4 id="N-title">{{work.tarea}}</h4>
          </div>
          </li>
         </ul>
     </div>
    </div>
  </div>