<div class="title">
  <h2>Works experience </h2>
</div>
<div class="worklist">
  <ul>
    <li *ngFor="let work of worklist">
      <div class="row2">
        <aside>
          <img [src]="work.work_img" width="50px" height="50px" id="escu">
        </aside>
        <section>
          <div class="about-text">
            <p><span>{{work.works_year}}</span></p>
            <h1>{{work.company}}</h1>
            <h4>{{work.tarea}}</h4>
          </div>
        </section>
      </div>
    </li>
  </ul>
</div>