<nav class="navbar">
    <a href="#" class="logo"><img src="./../../../assets/APLogo-20-20.png" id="logoAp"></a>
    <div class="menu">
        <ul class="list">
            <li><a href="#" class="hover"><img src="./../../../assets/linkedin.png" id="linkedin"></a></li>
            <li><a href="#" class="hover"><img src="./../../../assets/linkedin.png" id="twetter"></a></li>
            <li><a href="#" class="hover"><img src="./../../../assets/instagram.png" id="insta"></a></li>
            <li><a href="#" class="hover"><img src="./../../../assets/login.png" id="login"></a></li>
        </ul>

    </div>

</nav>
<div class="banner">
    <img src="https://i.ibb.co/Bwj9xxQ/Office.jpg" id="imagen">
</div>