<div class="title">
    <h2>Skill & Soft</h2>
</div>


<div class="worklist">

    <!----->

    <ul>
        <li *ngFor="let est of tarea">
            <div class="fila">
                <aside>
                    <div class="container">
                        <h1 id="item"> {{est.habilidad}}</h1>
                        <h1 id="item2">{{est.width}}</h1>
                        <h1>%</h1>
                    </div>
                </aside>
                <section class="barra">
                    <div class="first">
                        <div [ngStyle]="{'width.%':est.width}" class="second">
                        </div>
                    </div>
                </section>

            </div>

        </li>



    </ul>
</div>