.container{
	padding: 10%;
}


.Education_list li{

    list-style: none;
	padding: 20px;
}


.row2 {
    display: flex; 
	flex-wrap: wrap;
 }


 .row2 aside{/*flex derecho*/
   flex: 50px;
 
 }
 .row2 section{/*flex izquierdo*/
   flex: 50%;
  
 }

 .row2 section h1 {
	 position: relative;
   padding: 0%;
   left: 10%;
 }
 .row2 section p span {
   position: relative;
   font-size: 15px;
  
 color:#f5f5f5;
  left: 10%;
}

.row2 section h4 {
  position: relative;
  padding-top: 2%;
  left: 10%;
  bottom: 15px;
}

.edit {
  text-align: end;
}

 .row2 img {/*png del avatar*/
  
   padding: 0;
   position: relative;
  width: 100px;
  left: 60%;
  top: 20%;
   
  }
  .edu-text p span {  /*company*/
	
	background: #042240;
	padding: 10px 30px;
	border-radius: 20px;
	position: relative;
	
}

  @media only screen and (max-width: 800px) {
    .row2 img {
      left: 40%;
    }
    .row2 section h1 {
      font-size: 80%;
    }
    .row2 section h3 {
      font-size: 80%;
      top: 5px;
    }
    .row2 section h4 {
      font-size: 80%;
      bottom: 10px;
    
    }
  }

  @media only screen and (max-width: 500px) {
    .row2 {
      display: flex;
      display: block; 
   }

    p {
	text-align: center;
right: 30px;
   }


  .edu-text p span {
	  position: relative;
	  bottom: 150px;
	  
	 
  }
   

   .row2 img {
    left: 42%;
	  bottom: 0;
  }
  .row2 section h1 {
    padding: 0%;
    position: relative;
    top: 20px;
    left: 35%;
  }
  .row2 section h3 {
    position: relative;
   padding: 0%;
  
   left: 37%;
   top: 20px;
 }
 
 .row2 section h4 {
   position: relative;
   padding: 0%;
   
  top: 15px;
   left: 30%;

 }
.row2 section h4 {
flex-wrap: wrap;
}



    }
