<div class="title">
    <h2>Skill & Soft</h2>
</div>

    <div class="Education_list">

        <ul>
            <li *ngFor="let edu of edulist">
                <div class="row2">
                    <aside>
                        <img [src]="edu.Img_edu" width="50px" height="" id="escu">
                    </aside>
                    <section>
                        <div class="edu-text">
                            <p><span>{{edu.education_year}}</span></p>
                            <h1>{{edu.institute}}</h1>
                            <h4>{{edu.about_edu}}</h4>
                        </div>
                    </section>
                </div>
            </li>
        </ul>
    </div>