<div class="container">
  <h2>Skill</h2>


<div class="mi_circulo">
<circle-progress
  [percent]="30"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="200"
></circle-progress>
<!---->
<circle-progress
  [percent]="20"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="200"
></circle-progress>
</div>


</div>