.title {
    padding: 5%;
   

}

.container {
    display: flex;
    justify-content: flex-end;
}

.barra {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.worklist li {
    list-style: none;
    padding: 20px;
}




.first {
    height: 20px;
    width: 30%;
    background: grey;
    border-radius: 25px;
}

.second {
    height: 20px;
    background: #042240;
    border-radius: 25px;
}

#item{
    margin-right: 10%;
}

#item2{
    margin-right: 5%;
}



.fila {

    display: flex;

}

li {
    list-style: none;
}

.fila aside {
    flex: 50px;
}

.fila section {
    flex: 50%;
}

.container h1{
    font-size: 30px;
}