<div class="row">
    <aside>
       <a href="#"><img src="./../../../assets/cam.png" id="ico-edit-uno"></a>
       <img src="./../../../assets/avatar1564639344.png">
    <div class="date">
       <p><b>Name</b></p>
       <p>posicion.</p>
    </div>
    </aside>
    <section>
        <div class="about-text">
            <p><b>About me</b></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Nostrum, eum similique quis tempore quo distinctio nemo
                 aut odio minus dolorum sequi eveniet harum. Unde facere
                  delectus expedita accusamus nostrum dicta.</p>
         </div>
    </section>
