.title {
	padding: 5%;
   
  }
  
#about {
	background: #f8f9fa;
	padding:20px 0;
	display: flex;

}

#about h2 {
	padding: 5%;
  font-size: 2rem;
  text-align: left;
}
#about h4 {/*--nombre---*/
	padding-bottom: 20px;
  font-size: 2rem;
}

p {
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.7em;
}

.large {/*--posicion---*/
	font-size: 1.25rem;
}
.about-row {
	display: flex;
}

.about-row-image img {/*--foto del avatar---*/
	height: 20rem;
	width: 20rem;
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	padding-right: 90px;
}

#about hr {/*--linea tal vez cambiar color---*/
	width: 70%;
	margin-bottom: 40px;
    color:#042240
}